/* Flexbox */
.parent {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Grid */
.parent {
	display: grid;
	place-items: center;
}

/* Position + Transform */
.parent {
	position: relative;
}
.child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Position + Margin Auto */
.parent {
	position: relative;
}
.child {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* Flexbox (Alternative) */
.parent {
	display: flex;
	display: flex;
}
.child {
	margin: auto;
}
